/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('components/banner.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/footer.css');


/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  color: white;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  color: white;
}

a {
  text-decoration: none;
}

/* Custom design below! */
ul li {
  display: inline-block;
  list-style: none;
}

ul {
  padding-left: 0;
}

i {
  font-size: 50px;
  padding: 10px;
}
